/Users/Marlene/Desktop/GlazeHub/chemlist102414.csv
/Users/Marlene/Desktop/GlazeHub/env
/Users/Marlene/Desktop/GlazeHub/testfiles
/Users/Marlene/Desktop/GlazeHub/model.pyc
/Users/Marlene/Desktop/GlazeHub/seedchem.pyc