	div#header_section{
		height:200px;
		marginbottom:10px;
		background-color:#CCCCFF;
		padding: 10px;



		}

	.header_logo{
		width: 350px;
		margin-left: 10px;
		margin-top:10px;
	}

	ul#header_links{
		margin-top: 15px;
		text-align: right;
		}

	li.header_item{
		display:inline;
		margin-left: 20px;
		margin-right:20px;
		list-style-type: none;
	}



	body{
		margin:10px;
		font-family: "Helvetica Neue", Helvetica, "Segoe UI",
		Arial, freesans, sans-serif;

		}

	div#recipename{
		margin:20px;
	}

	div#chemicals{
		margin:20px;
	}

	div#return_home{
		margin:20px;
	}
	input.submit:active{

		background-color: #CCCCFF;
	}

	input.submit:hover {
		background-color: purple;
	}



	div.left_side_section{
		margin-top: 10px;
		width: 150px;
		border:solid #5240c6 2px;
		height: 300px;
		padding: 10px;

	}

	div#recipe_list{
		overflow: scroll;
	}

	a#recipe_links{
		text-decoration: none;
	}

	ul#recipe_names{
		list-style-type: none;
		padding:0 0px;
		}



	div#return_home{
		margin:20px;
			}



