	div#header_section{
		height:200px;
		marginbottom:10px;
		background-color:#CCCCFF;
		padding: 10px;



		}

	.header_logo{
		width: 350px;
		margin-left: 10px;
		margin-top:10px;
	}

	ul#header_links{
		margin-top: 15px;
		text-align: right;
		}

	li.header_item{
		display:inline;
		margin-right:50px;
		list-style-type: none;
	}



	body{
		margin:10px;
		font-family: "Helvetica Neue", Helvetica, "Segoe UI",
		Arial, freesans, sans-serif;

		}


	input#add_recipe{
		margin-top:10px;
		width: 120px;
		background-color: #CCCCFF;
	}

	input#add_recipe:hover{
			background-color:#a29cab;
		}


	div#recipename{
		margin:20px;
	}

	div#chemicals{
		margin:20px;
	}

	div#return_home{
		position:absolute;
		top: 350px;
		margin:20px;
	}




	div.left_side_section{
		position: absolute;
		margin-top: 10px;
		width: 150px;
		border:solid #5240c6 2px;
		height: 300px;
		padding-left: 15px;
		padding-top: 5px;

	}

	div#recipe_list{
		overflow: scroll;
	}

	a#recipe_links{
		text-decoration: none;
	}

	ul#recipe_names{
		list-style-type: none;
		padding:0 0px;
		}

	table#table_ofchems{
			margin:20px;
		}

	div#send_email_to_CP{
			margin:20px;
		}




	div.center_section{
		position:absolute;
		left: 200px;
		margin-top: 10px;
		width: 700px;

		padding-left: 15px;
		padding-top: 5px;

	}

	div#new_user{
		margin: 10px;
		padding-bottom:10px;
		width: 300px;
	}

	div#returning_user{
		margin:10px;
		padding-bottom:10px;
		width:300px;
	}


	input.btn_submit{
		margin-top:10px;
		width: 100px;
		background-color: #CCCCFF;
		margin-left: 23px;

	}
	input{
		height:3em;
		margin-top: 5px;
	}

	input.btn_submit:hover{
			background-color:#a29cab;

		}


	.title{
		margin-top: 5px;
		float:left;
		text-align: right;
		padding-right: 10px;
		width: 100px;

	}





