<html>
<head>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>


<body>
	<div id = "header_section">
		<img class = "header_logo" src="/static/img/ghlogo1114.svg"></br>
		<ul id="header_links">
			<li class = "header_item"><a href="mailto:marlenehirose@gmail.com">Contact</a></li>
			<li class = "header_item"><a href="/enterRecipe">Calculator</a></li>
			{% if session["user_id"] %}
				<li class = "header_item"><a href="/enterRecipe"> {{"Log Out"}} </a></li>
            {% else %}
                <li class = "header_item"><a href="/login">{{"Log In"}}</a></li>
            {% endif %}
		</ul>
	</div>

		{% with messages = get_flashed_messages() %}
            {% if messages %}
	            {% for message in messages %}
	            <ul class="flashes">
	                <li>{{message}}</li>
	            </ul>
	            {% endfor %}
            {% endif %}
        {% endwith %}

	{% block body %}

	<div class = "left_side_section"></div>
	<div class = "center_section">


    </div>
	{% endblock %}
</body>
</html>