{% extends 'base.html' %}
{% block body %}

	<title>Add Recipe</title>


	<h1>Recipe</h1>
	<form action="/addRecipe" method="POST">
		<div><label for="recipename" id ="recipename">Recipe Name</label>
		<input type = "text" id = "recipename" name="recipename" />
		</div>
		<div><label for="userID">User ID</label>
		<input type = "text" id = "userID" name="userID" />
		</div>

<!-- 	<div id = "chemicals">
		<label>Chem ID: </label>
		<input type = "text" id = "componentChemID" name="componentChemID"/>
		<label>Percentage: </label>
		<input type = "text" id = "componentPercentage" name="componentPercentage" /></br> -->
		<input type = "submit">

		<div id = "return_home">
			<a href ="/returnHome">Home</a>
		</div>

	</form>



{% endblock %}