{% extends 'base.html' %}

{% block body %}


<title>Add Recipe</title>

<div class = "col-sm-2">
	<div class = "col-sm-12" class = "recipe_list" style="outline: 3px solid #ccccff; margin-bottom:10px" >

    	<label class = "control-label" for="userRecipes">
			Recipes
		</label>
		{% for recipe in displayRecipes %}
		<ul style = "margin-top: 6px" class="recipe_names">
			<a class = "recipe_links" href = "/recipecomps/{{recipe.user_id}}/{{recipe.recipe_name }}">
				<li>{{ recipe.recipe_name }}</li></a>
		</ul>

		{% endfor %}
	</div>
	<div class = "row" id = "add_recipe_button">
		<div class = "col-sm-2">
			<a href = "/addRecipe/{{user_id}}">
			<button class ="btn btn-GH" type = "submit" id = "add_recipe">
					<strong>Add New Recipe</strong></button>
			</a>
		</div>
	</div>
</div>




<div class = "col-sm-10" id = "recipe_section" style="margin-top:-2em">
	<h1>Recipe</h1>
	<!-- This template is hidden -->
	<div id = "compTemplate">

		<div class = "col-sm-12">

		    <select class = "chemlistoptions" name="chem">
		    	<option disabled selected> -- select a component -- </option>
				{% for chem in chem_names %}
					<option value="{{ chem }}">{{ chem }}</option>
				{% endfor %}
			</select>

			<input class = "form-control percentage" type = "text"
					name="percentage" value = "0.0" style = "margin-left: 20px"/>

			<button class="btn btn-GH delete_comp">Delete</button>
		</div>

	</div>
	<!-- end of hidden template -->

	<form method=post>
		<div class = "row">
			<div class = "form-group" id = "recipename">
				<div class = "col-sm-6">
					<label class = "control-label" for="recipename" id ="recipename">
						<h4>Recipe Name</h4>
					</label>

					<input class = "form-control" type = "text" id = "recipename"
						name="recipename" value = "New Recipe" />
				</div>


			</div>
		</div>

		<div id = "chemicals">
		<div class = "row">
			<div class = "col-sm-4">
				<h4>Chemical Names</h4>
			</div>
			<div class = "col-sm-2" style="margin-left:10px">
				<h4>Percentage</h4>
			</div>
		</div>


			<div id = "chems_percents_tbl">

				<div id = "chem_prcnts_bdy">

				</div>


			<div class = "col-sm-8" style = "margin-left:10px">
				<div class ="row">
					<button id = "add_component" class ="btn btn-GH" style="margin-top:5px; margin-left:-10px" ><strong>Add Component</strong>
					</button>
				</div>
			</div>

			<div class = "row" id = "addNotes">
			<label class = "col-sm-8 control-label" for="userCommentslbl" id ="userCommentslbl" style = "margin-top:1em">
				Comments: (3000 char limit)
			</label>
			</div>
			<div class = "row">
				<div class = "col-sm-8" id = "userComments">

					<textarea class = "form-control" name = "usercomments" type = "text" maxlength = "3000", id = "usercomments" style = " margin-bottom:10px"></textarea>
				</div>

			</div>
				<div class = "col-sm-8">
					<div class = "row">
							<button class ="btn btn-GH" style="margin-top:5px; " type = "submit" id = "add_recipe" value="Add Recipe">
							<strong>Add Recipe</strong>
							</button>
					</div>
				</div>

		</div>
	</form>

</div>


{% endblock %}

