

{% extends 'base2.html' %}
{% block body %}

	<title>Add Recipe</title>

<div class = "col-sm-1" id = "recipe_list" style="outline: 3px solid #ccccff">
	{% for recipe in display_recipes %}
	<ul style = "margin-top: 6px" id="recipe_names">
		<a id = "recipe_links" href = "/recipecomps/{{ recipe.user_id }} /{{recipe.recipe_name }}"><li>{{ recipe.recipe_name }}</li></a>
	</ul>

	{% endfor %}
</div>


<div class = "col-sm-11" id = "recipe_section" style="margin-top:-2em">
	<h1>Recipe</h1>

	<div class = "row">

		<div class = "form-group" id = "recipename">
			<label class = "col-sm-2 control-label" for="recipename" id ="recipename" style = "margin-top:1em">
					Recipe Name
			</label>
			<div class = "col-sm-4" style= "margin-left:-3em">

				<input class = "form-control" type = "text" id = "recipename" name="recipename" />
			</div>
		</div>
	</div>





		<div id = "chemicals">

			<p>Add components here.</p>
			<table id = "chems_percents">
				<colgroup>
					<col class = "Chemical" />
					<col class = "Percentage" />
				</colgroup>
				<thead>
					<tr>
						<th scope = "col">Chemical Name</th>
						<th scope = "col">Percentage</th>
					</tr>
				</thead>

				<tbody>

			<div>



			</div>




					<tr>

						<td>
							<input class = "form-control" name="inputChemName" type="text" maxlength="50" id="inputChemName" tabindex="2" />

						    <select name="chem" id="chem"
						        onchange="DropDownTextToBox(this,'inputChemName');">

								{% for chem in chem_names %}
									<option class = "chems" id = "chem" name = "chem" value="{{ chem }}">{{ chem }}</option>
								{% endfor %}
			    				</select>

						</td>
						<td>
							<input class = "form-control" type = "text" id = "percentage1"
									name="percentage1"/>
						</td>
					</tr>

				</tbody>
			</table>

					<button id = "add_component" class ="btn btn-GH" style="margin-top:5px" ><strong>Add Component</strong></button>



	</div>





<!-- 		<div id = "return_home">
			<a href ="/returnHome">Home</a>
		</div> -->
			<button class ="btn btn-GH" style="margin-top:5px" type = "submit" id = "add_recipe">
				<strong>Add Recipe</strong></button>


</div>

{% endblock %}