<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <script src="/static/js/glazehub.js"></script>



    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class = "header_logo" src="/static/img/ghlogo1114.svg"><a class="navbar-brand" href="/"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ><a href="mailto:marlenehirose@gmail.com">Contact</a></li>
                         <li ><a href="/enterRecipe">Calculator</a></li>
                        {% if session["user_id"] %}
                            <li ><a href="/enterRecipe"> {{"Log Out"}} </a>Welcome back!</li>
                        {% else %}
                            <li ><a href="/login">{{"Log In"}}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <ul class="flashes">
                    <li>{{message}}</li>
                </ul>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}
            <div class = "col-sm-2"></div>
        {% endblock %}

    </body>


</html>
