<html>
<head>
	<style>
		.header_logo{
			border:10px;
			padding:10px;
			width: 300px;
			margin:10px;
		}
		div#header_section{
			marginbottom:10px;
			background-color:CCCCFF
		}



		body{
			margin:10px;
			font-family: "Helvetica Neue", Helvetica, "Segoe UI",
			Arial, freesans, sans-serif;
			}

		div#return_home{
			margin:20px;
		}

		div#email_msg{
			margin:20px;
		}

		div#submit_email{
			margin-left:20px;
			margin-top: 10px;
			margin-bottom: 20px;
		}


	</style>

</head>
<body>
	<div id = "header_section">
		<img class = "header_logo" src="/static/img/ghlogo1114.svg"></br>
	</div>
	<div id="email_msg">
	<p>Send email to Clay Planet to order glaze</p>
	<textarea name = "emailmsg" cols = "50" rows ="10"> Enter message...</textarea>

	</div>
	<div id = "submit_email">
		<input type = "submit">
	</div>
	<div id = "return_home">
		<a href ="/returnHome">Home</a>
	</div>

</body>
