{% extends 'base2.html' %}
{% block body %}
<div class = "col-sm-2">
	<div class = "col-sm-12" id = "recipe_list" style="outline: 3px solid #ccccff; margin-bottom:10px" >

    	<label class = "control-label" for="userRecipes">
			Recipes
		</label>
		{% for recipe in display_recipes %}
		<ul style = "margin-top: 6px" class="recipe_names">
			<a class = "recipe_links" href = "/recipecomps/{{recipe.user_id}}/{{recipe.recipe_name }}">
				<li>{{ recipe.recipe_name }}</li></a>
		</ul>

		{% endfor %}
	</div>
	<div class = "row" id = "add_recipe_button">
		<div class = "col-sm-2">
			<a href = "/addRecipe/{{user_id}}">
			<button class ="btn btn-GH" id = "add_recipe">
					<strong>Add New Recipe</strong></button>
			</a>
		</div>
	</div>

</div>

<div class = "col-sm-10">

	<div class = "row" style = "margin-top:-14px">
	<h4>Send email to Clay Planet to order glaze</h4>
	</div>
	<div class = "row">
		<form action="mailto:marlene_hirose@yahoo.com" method="POST"
			name="emailForm">

			<div class = "row">

				<div class = "col-sm-8" style = "margin-left:20px">
					<div class = "row" style = "margin-bottom:10px">
						{% for datum in data%}
							<div class = "col-sm-4">
								{{datum.get('name')}}
							</div>
							<div class = "col-sm-2">
								{{datum.get('percent')}}%
							</div>
							{% if unitSys == "lbs" %}
								<div class = "col-sm-1">
									{{datum.get('whole')}} lb
								</div>
								<div class = "col-sm-2">
									{{datum.get('fraction')}} oz
								</div>
							{% else %}
								<div class = "col-sm-1">
									{{datum.get('whole')}} kg
								</div>
								<div class = "col-sm-2">
									{{datum.get('fraction')}} grams
								</div>
							{% endif %}

						{%endfor%}

					</div>

					<div class = "row">
						<hr noshade color ="#ccccff" style = "margin-top:-5px"></hr>
					</div>
					<div class = "row" style = "margin-bottom: 10px">
						<div class = "col-sm-4">
						</div>
							<div class = "col-sm-4">
								<div class = "row">
									<div class = "col-sm-6 text-right">
										Subtotal:
									</div>
									<div class = "col-sm-6 text-right">
										{{"%.2f" %subtotal}}
									</div>

								</div>

								<div class = "row">
									<div class = "col-sm-6 text-right">
										Tax:
									</div>
									<div class = "col-sm-6 text-right">
										{{"%.2f" %tax}}
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-6 text-right">
										Shipping:
									</div>
									<div class = "col-sm-6 text-right">
										{{"%.2f" %shipping}}
									</div>
								</div>

								<div class = "row">
									<div class = "col-sm-6 text-right">
										Total:
									</div>
									<div class = "col-sm-6 text-right">
										{{"%.2f" %(subtotal + tax + shipping)}}
									</div>

								</div>
						</div>
					</div>
				</div>
			</div>
					<div class = "row" style = "margin-left:10px">

						<textarea name="msgToCP" rows ="8" cols = "80"></textarea>
					</div>

					<div class = "row" style = "margin-left:10px">
						<button class ="btn btn-GH" style="margin-top:15px" type = "submit" id = "sendEmail">
							<strong>Send Email</strong>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>


</div>


{% endblock %}
