{% extends 'base2.html' %}
{% block body %}

	<title>Calculate Recipe</title>
<div class = "col-sm-2" id = "recipe_list" ></div>

<div class = "col-sm-10" id = "recipe_section" style="margin-top:-2em">
	<h1>Calculate Recipe</h1>
	<div class = "row">

			<div class = "form-group" id = "recipename">
				<label class = "col-sm-2 control-label" for="recipename" id ="recipename" style = "margin-top:1em">
					Recipe Name
				</label>
				<div class = "col-sm-4" style= "margin-left:-3em">
					<!-- <form action="/batchSizeChangeNoUser" method="POST"> -->
					<input class = "form-control" type = "text" id = "recipename" name="recipename" />
				</div>
			</div>
	</div>




<div id = "compTemplate">

	<div class = "col-sm-9" style = "margin-left:-15px">

	    <select name="chem">
			{% for chem in chem_names %}
				<option value="{{ chem }}">{{ chem }}</option>
			{% endfor %}
		</select>
	</div>

	<div class = "col-sm-3" style = "margin-top:-10px; margin-left:-40px">
		<input class = "form-control" type = "text" id = "percentage"
				name="percentage"/>
	</div>

</div>
<!-- end of hidden template -->




	<form method=post>


		<div id = "chemicals">

			<table>
				<thead>
					<tr>
					<th scope = "col">Chemical Name</th>

					<th scope = "col">Percentage</th>
					<th scope ="col">Amt</th>
					</thead>

					</tr>

				<tr>
					<td width ="397px" height="25px">
					<div class = "col-sm-8"></div>

					</td>
					<td width = "100px" height="25px">
					<div class = "col-sm-3"><div>
					</td>
					<td width = "60px">
						<input class = "form-control" type = "text" id = "batchsize" name="batchsize"/>
					</td>
					<td>

						<input type = "radio" name= "weightsystem" value = "lbs" />
						<label for "pounds">lbs</label>
						<input type = "radio" name= "weightsystem" value = "kg" />
						<label for "metric">kg</label>
						<button class ="btn btn-GH" type = "submit" id = "getSize">
							<strong>Get Size</strong></button>

					</td>





				</tr>



			</table>



			</div>
			<table id = "chems_percents_tbl">

				<tbody id = "chem_prcnts_bdy">

				</tbody>

			</table>
			<div class = "col-sm-8" style = "margin-left:10px">
				<div class ="row">
					<button id = "add_component" class ="btn btn-GH" style="margin-top:5px" ><strong>Add Component</strong>
					</button>
				</div>
			</div>




				</div>

		</div>
	</form>

</div>


	</div>






{% endblock %}