{% extends 'base.html' %}

{% block body %}


<title>Enter Recipe</title>

<div class = "col-sm-2">

</div>




<div class = "col-sm-10" id = "recipe_section">
	<h1>Recipe</h1>
	<!-- This template is hidden -->
	<div id = "compTemplate">

		<div class = "col-sm-8">

		    <select class = "chemlistoptions" name="chem">
		    	<option disabled selected> -- select a component -- </option>
				{% for chem in chem_names %}
					<option value="{{ chem }}">{{ chem }}</option>
				{% endfor %}
			</select>

			<input class = "form-control percentage" type = "text"
					name="percentage" value = "0.0" style = "margin-left: 20px"/>

			<button class="btn btn-GH delete_comp"><strong>Delete</button>

		</div>
		<div class = "col-sm-2" style = "margin-left: -100px">
			<div class = "row">
				<h5 class = "amount_needed">Amount You Need</h5>
			</div>
		</div>

	</div>
	<!-- end of hidden template -->

	<form action = "/enterRecipe" method = "POST">
		<div class = "row">
				<div class = "col-sm-6">
					<label class = "control-label" for="recipename" id ="recipename">
						<h4>Recipe Name</h4>
					</label>

					<input class = "form-control" type = "text" id = "recipename"
						name="recipename" value = "{{recipename}}"/>
				</div>


		</div>

		<div id = "chemicals">
			<div class = "row">
					<div class = "col-sm-4" id = "chem_name">
						<h4>Chemical</h4>
					</div>

					<div class = "col-sm-2" id = "percentage" style = "margin-left:15px">
						<h4>Percent</h4>
					</div>

					<div class = "col-sm-1" id = "amount_to_make" >
						<h4>Amt.</h4>
					</div>
					<div class = "col-sm-1">
						{% if batchsize %}
							<input class = "form-control" type = "text" id = "batchsize"
									   value = "{{batchsize}}"
									  style = "margin-left:-1em"/>
						{% else %}
							<input class = "form-control" type = "text" id = "batchsize"
									  style = "margin-left:-1em"
									  value = "0.0"/>
						{% endif %}
					</div>


				<div class = "col-sm-2">

					<input class = "radio-GH" type = "radio" name= "unitSys" value = "lbs" id = "lbs"
						{{lbschecked}}/>
					<label for "pounds">lbs</label>
					<input class = "radio-GH" type = "radio" name= "unitSys" value = "kg" id = "kg"
						{{kgchecked}}/>
					<label for "metric">kg</label>
				</div>

			</div>
		</div>

				<div id = "chem_prcnts_bdy">

				</div>


		<div class = "row">
			<div class = "col-sm-6">
				<div class ="row">
					<button id = "add_component" class ="btn btn-GH" style="margin-top:15px; margin-left:15px" ><strong>Add Component</strong>
					</button>
				</div>
			</div>
			<div class = "col-sm-2">
				<button class ="btn btn-GH" style="margin-top:15px; margin-left:-35px" type = "submit" id = "getSize">
				<strong>Get Size</strong></button>
			</div>
			<div class = "col-sm-4" id = "messageToUser" style = "margin-top:15px; margin-left:-35px">
					{% if messageToUser %}
						{{ messageToUser}}
					{% endif %}
			</div>



		</div>





		</div>
	</form>

</div>


{% endblock %}

