{% extends 'base.html' %}
{% block body %}

	<title>Welcome to GlazeHub!</title>
	<div class = "col-sm-2" id = "left_side_section"></div>
	<div class = "col-sm-10" id = "center_section">
		<h1>Welcome!</h1>

	<form action="/login">
		<button class ="btn btn-GH" style="margin-top:5px" type = "submit" id = "login">
			<strong>Log in</strong></button>
	</form>


		<form action="/enterRecipe">
		<button class ="btn btn-GH" style="margin-top:5px" type = "submit" id = "calculateRecipe">
			<strong>Calculate a Glaze Recipe</strong></button>
		</form>
	</div>




{% endblock %}