<html>
<head>
	<style>
		.header_logo{
			border:10px;
			padding:10px;
			width: 300px;
			margin:10px;
		}
		div#header_section{
			marginbottom:10px;
			background-color:CCCCFF
		}



		body{
			margin:10px;
			font-family: "Helvetica Neue", Helvetica, "Segoe UI",
			Arial, freesans, sans-serif;
			}

		div#user_recipes{
			margin:20px;
		}

		div#add_recipe{
			margin:20px;
		}


	</style>

</head>


<body>
	<div id = "header_section">
		<img class = "header_logo" src="/static/img/ghlogo1114.svg"></br>
	</div>
	<div id = "user_recipes">
		<a href ="/userRecipes">User Recipes</a>
	</div>
	<div id = "add_recipe">
		<a href="/addRecipe">Add a New Recipe</a>
	</div>


</html>