{% extends 'base.html' %}
{% block body %}


<div class = "center_section">
	<div id = "returning_user">
		<h2>Returning user</h2>
		<label for="userEmail" class = "title">User email:</label>
		<input type = "text" id = "userID" name="userID" /></br>
		<label for="password" class = "title">Enter Password:</label>
		<input type = "text" id = "password" name="password" /></br>
		<input type = "submit" id = "user" value = "Log on" class = "btn_submit">
	</div>

	<div id = "new_user" class = "sign_in_up">
		<h2>New User</h2>
		<label for="userEmail" class = "title">User email:</label>
		<input type = "text" id = "userID" name="userID" /></br>
		<label for="password" class = "title">Password:</label>
		<input type = "text" id = "password" name="password" /></br>
		<label for="password" class = "title">Confirm Password:</label>
		<input type = "text" id = "password" name="password" /></br>
		<input type = "submit" id = "user" value = "Register" class = "btn_submit">
	</div>




</div>

{% endblock %}