{% extends 'base.html' %}
{% block body %}


<div class = "center_section">
	<div id = "returning_user">
		<h2>Please Sign In</h2>
		<form action="/process-login" class = "form-signin" method="POST">
			<label for="userEmail" class = "title">User email:</label>
			<input type = "text" id = "userEmail" name="userEmail" /></br>
			<label for="password" class = "title">Enter Password:</label>
			<input type = "text" id = "password" name="password" /></br>
			<input type = "submit" id = "user" value = "Log in" class = "btn_submit">
		</form>
	</div>

	<div id = "new_user" class = "sign_in_up">
		<h2>New User? Please create an account</h2>
		<form action = "/register" class = "form-signup" method="POST">
		<label for="userName" class = "title">User name:</label>
		<input type = "text" id = "NewUserName" name="NewUserName" /></br>
		<label for="userEmail" class = "title">User email:</label>
		<input type = "text" id = "NewUserEmail" name="NewUserEmail" /></br>
		<label for="password" class = "title">Password:</label>
		<input type = "text" id = "NewUserPassword" name="NewUserPassword" /></br>
<!-- 		<label for="password" class = "title">Confirm Password:</label>
		<input type = "text" id = "password" name="password" /></br> -->
		<input type = "submit" id = "NewUser" value = "Register" class = "btn_submit">
	</form>
	</div>




</div>

{% endblock %}