<html>
<head>
	<style>
		body{
			margin:10px;
			font-family: "Helvetica Neue", Helvetica, "Segoe UI",
			Arial, freesans, sans-serif;
		}
		div#chemicals {
				background-color:CCCCFF;
				width:600px;
				height:400px;
				margin:10px;
			}
	</style>

</head>
		<body>
		<h1>Recipe</h1>
		<form action="/" method="post">
			<div><label for="recipename">Recipe Name</label>
			<input type = "text" id = "recipename" name="recipename" />
			</div>

			<div id = "chemicals">
			<label>Chem ID: </label>
			<input type = "text" id = "componentChemID" name="componentChemID"/>
			<label>Percentage: </label>
			<input type = "text" id = "componentPercentage" name="componentPercentage" /></br>


			<input type = "submit">
			</div>
		</form>

		</body>




</html>