{% extends 'base2.html' %}
{% block body %}

<div class = "col-sm-2">
	<div class = "col-sm-12" id = "recipe_list" style="outline: 3px solid #ccccff; margin-bottom:10px" >

    	<label class = "control-label" for="userRecipes">
			Recipes
		</label>
		{% for recipe in display_recipes %}
		<ul style = "margin-top: 6px" id="recipe_names">
			<a id = "recipe_links" href = "/recipecomps/{{ recipe.user_id }} /{{recipe.recipe_name }}">
				<li>{{ recipe.recipe_name }}</li></a>
		</ul>

		{% endfor %}
	</div>
	<div class = "row" id = "add_recipe_button">
		<div class = "col-sm-2">
			<a href = "/addRecipe/{{user_id}}">
			<button class ="btn btn-GH" type = "submit" id = "add_recipe">
					<strong>Add New Recipe?</strong></button>
			</a>
		</div>
	</div>
</div>

	<div class = "col-sm-10" id = "recipe_section" style="margin-top:-2em">

		<h1>{{ recipe_name }}</h1>
		<div class = "col-sm-8" id = "recipe_list" >
			<div class = "row" style = "color:#5551a2">

				<div class = "col-sm-4" id = "chem_name" style = "margin-top:1em"><strong>Chemical
					</strong>
				</div>

				<div class = "col-sm-2" id = "percentage" style = "margin-top:1em; margin-left:-1em"><strong>Percent
					</strong>
				</div>

				<div class = "form-group" id = "amount_to_make" style = "margin-top:1em">
					<label class = "col-sm-1 control-label" style = "margin-left: -2em" for "amt">
						Amt.
					</label>

				<form action = "/batchSizeChange/{{user_id}}/{{recipe_name}}" method = "POST">
					<div class ="col-sm-2">
						{% if batchsize %}
							<input class = "form-control" type = "text" id = "batchsize"
									  name="batchsize" value = "{{batchsize}}"
									  style = "margin-left:-1em"/>
						{% else %}
							<input class = "form-control" type = "text" id = "batchsize"
									  name="batchsize" style = "margin-left:-1em"
									  value = ""/>
						{% endif %}

					</div>


					<div class = "col-sm-2">

						<input type = "radio" name= "unitSys" value = "lbs"
							{{lbschecked}}/>
						<label for "pounds">lbs</label>
						<input type = "radio" name= "unitSys" value = "kg"
							{{kgchecked}}/>
						<label for "metric">kg</label>
					</div>
					<div class = "col-sm-1">
						<button class ="btn btn-GH" style="margin-top:5px" type = "submit" id = "getSize">
						<strong>Get Size</strong></button>
					</div>

					<div class = "col-sm-8" id ="comp_percent_amt">

					{% for comp in components %}
						<div class = "row">
							<div class = "col-sm-6" >{{comp.chem.chem_name}}</div>
							<div class = "col-sm-2">{{ comp.percentage }}</div>

							{% if batchComp and (unitSys == "kg") %}
								{% if wholenumlist %}
									<div class = "col-sm-2">
										{{wholenumlist[loop.index-1]}} kg
									</div>
									<div class = "col-sm-2">
										{{leftoverbitslist[loop.index-1]}} g
									</div>
								{%endif%}
							{% else %}
								{% if wholenumlist %}
									<div class = "col-sm-2">
										{{wholenumlist[loop.index-1]}} lbs
									</div>
									<div class = "col-sm-2">
										{{leftoverbitslist[loop.index-1]}} oz
									</div>
								{%endif%}
							{% endif %}

						</div>
					{% endfor %}
					</div>
				</form>

				</div>
				<div class = "col-sm-4">
					{% if messageToUser %}
						{{ messageToUser}}
					{% endif %}
				</div>
			</div>
			<div class = "row">
				<div class = "col-sm-8"
					style="outline: 3px solid #ccccff; margin:20px">
					{{user_notes}}
				</div>
			</div>

		</div>




	</div>


</div>



{% endblock %}

<!-- put this stuff below in a class somewhere so can keep it -->
<!-- if batchsize

	batchsize -->