{% extends 'base.html' %}


{% block body %}

<!-- 	<div class = "left_side_section"> -->
	<div class ="left_side_section" id = "recipe_list">
		{% for recipe in display_recipes %}
		<ul id="recipe_names">
			<a id = "recipe_links" href = "/recipecomps/{{ recipe.user_id }} /{{recipe.recipe_name }}"><li>{{ recipe.recipe_name }}</li></href>
		</ul>

		{% endfor %}
	</div>
	<div class = "center_section">
		<a href = "/addRecipe/{{user_id}}">
			<input type = "submit" id = "add_recipe" value = "Add New Recipe?" class = "btn_submit">

	</div>

	<!-- </div> -->

<!-- 	<div id = "return_home">
		<a href ="/returnHome">Home</a>
	</div> -->


{% endblock %}